<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bnuz.edu.cn.user.mapper.UserMapper">
    <select id="getUser" resultType="bnuz.edu.cn.user.entity.User" parameterType="bnuz.edu.cn.user.entity.User">
        select * from user where username=#{username}
    </select>
</mapper>